src/main/mule/jenkins-cicd.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="044d3a5d-3d7c-4c9c-b030-708a2ea91e86" >
		<http:listener-connection host="0.0.0.0" port="${http.port}" />
	</http:listener-config>
	<configuration-properties doc:name="Configuration properties" doc:id="146bc3fc-fcf6-4758-891b-32900a4293e2" file="properties\config.yaml" />
	<flow name="jenkins-cicdFlow" doc:id="faf2d40e-b16c-4c68-89bd-3b79f419e456" >
		<http:listener doc:name="Listener" doc:id="48310740-bf70-4df6-9f35-5e2c3b4697d1" config-ref="HTTP_Listener_config" path="/cicdtest"/>
		<logger level="INFO" doc:name="Logging Request" doc:id="df222c43-f588-49f4-809c-cb791cf2e1b5" message="Request received for processing"/>
		<ee:transform doc:name="Transform Message" doc:id="e3afd9e1-450a-4de3-96d8-187f7d1a077e" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"Banner" : "Welcome to Jenkins CICD for Mulesot"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logging Response" doc:id="c21051a4-fe65-4641-b515-d261a2706a90" message="#[payload]"/>
	</flow>
</mule>
